<form id="login-form" method="post" hx-post="{% url 'login' %}" hx-target="#login-form" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" required autofocus>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Войти</button>
    <div id="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
</form>
